body{
    margin: 0;
    background-color: #1635af;
}
#all{
    margin: 100px auto;
    background-image: url("../images/action_bg.jpg");
    width: 1000px;
    height: 750px;
}
#all .method{
    float: left;
    margin: 200px 0 0 350px;
    width: 300px;
    height: 300px;
}
